{{range .}}
	<div class="row">
		<div class="span1">
		<p class="pull-right"><a href="/book/{{.ID}}" title="{{.Description}}">{{if .Cover}}<img class="img-rounded" src="/cover/{{.ID}}/small/{{.Title}}.jpg" alt="{{.Title}}" />{{end}}</a></p>
		</div>
		<div class="span10 well">
		<div class="row">
		<div class="span7">
		<p>
		<span class="muted">[{{if .Lang}}{{.Lang}}{{end}}]</span>
		<a href="/book/{{.ID}}" title="{{.Description}}"><strong>{{.Title}}</strong></a>
		<span class="muted">{{if .Publisher}}{{.Publisher}}{{end}}</span><br />
		{{range .Authors}}{{.}}, {{end}}
		</p>
		</div>
		<div class="span3">
		<div class="btn-group pull-right">
		<a href="/download/{{.ID}}/{{.Title}}.epub" class="btn btn-inverse"><i class="icon-download-alt icon-white"></i> download</a>
		<a href="/read/{{.ID}}" class="btn btn-warning"><i class="icon-eye-open icon-white"></i> read it!</a>
		</div>
		</div>
		</div>
		</div>
	</div>
{{end}}
