{{template "header.html" .S}}

<h4>News:
	<a href="/news/?fmt=rss" class="pull-right"><img src="/img/feed.png"/></a>
</h4>

<dl class="dl-horizontal">
{{range .News}}
<div class="well well-small">
    <dt>{{.Date}}</dt>
    <dd>{{.Text}}</dd>
</div>
{{end}}
</dl>

{{template "footer.html" .S}}
